 <div class="user-details">
  <h1> Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
 <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-ruby-plain-wordmark colored"></i>
	  <i class="devicon-erlang-plain-wordmark colored"></i>
	  <i class="devicon-mysql-plain-wordmark colored"></i>
      <p></p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
	  <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-gitlab-plain-wordmark colored"></i>
	  <i class="devicon-slack-plain-wordmark colored"></i>
	  <i class="devicon-debian-plain-wordmark colored"></i>
      <p></p>
    </div>
</div>