<div class="user-details">
  <h1> Abgeschlossene Projekte </h1>
</div>
<!-- ************************************************************************************ -->
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/business-man.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>News Scraper</h3>
    <ul>
      <li>Pyton</li>
	  <li>Web Scraping</li>
    </ul>
    <p>A program for downloading online articles and saving it in a SQLLite database.</p>
    <a class="project-link" href="#">GitHub</a>
	<a class="project-link" href="#">Blog article</a>
  </div>
</div>
<!-- ************************************************************************************ -->
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/projects/fit-mate.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3>Fit-Mate</h3>
	Full-Responsive Web-App mit der Trainingspartner in der Umgebung gefunden werden können.<br>
	Teil der Software-Engineering Vorlesung im Wintersemester 2018/2019. Bearbeitet wurde das Projekt von 6 Personen in 6 Montaten mit 2 Wochen <strong>Srum</strong> Sprints.
	<i class="cil-energy"></i>
	<h4>Technologien & Tools<h4>
		<ul>
		  <li>Angular 8 </li>
		  <li>Spark Server</li>
		  <li>SQLite DB</li>
		  <li>Docker</li>
		  <li>Kubernetes</li>
		</ul>
	<h4>Learnings<h4>
		<ul>
		  <li>Auth-Guards in Angular</li>
		  <li>Angular Apps entwickeln</li>
		  <li>Responsive CSS</li>
		</ul>
    <p></p>
  </div>
</div>
